.elementor-kit-8{--e-global-color-primary:#AA33B5;--e-global-color-secondary:#0E111A;--e-global-color-text:#0E111A;--e-global-color-accent:#AA33B5;--e-global-color-8983e71:#FFFFFF;--e-global-color-61ffdfb:#787BB6;--e-global-typography-primary-font-family:"Montserrat";--e-global-typography-primary-font-weight:800;--e-global-typography-secondary-font-family:"Rubik";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Rubik";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Roboto";--e-global-typography-accent-font-weight:500;--e-global-typography-8cdbae3-font-family:"Playfair Display";--e-global-typography-8cdbae3-font-weight:700;color:#FFFFFF;font-family:"Rubik", Sans-serif;font-weight:400;background-color:#0E111A;}.elementor-kit-8 h1{font-family:"Montserrat", Sans-serif;font-size:4vw;font-weight:700;}.elementor-kit-8 h2{font-family:"Montserrat", Sans-serif;font-size:72px;font-weight:700;}.elementor-kit-8 h3{font-family:"Montserrat", Sans-serif;font-size:64px;}.elementor-kit-8 button,.elementor-kit-8 input[type="button"],.elementor-kit-8 input[type="submit"],.elementor-kit-8 .elementor-button{color:var( --e-global-color-8983e71 );background-color:var( --e-global-color-8983e71 );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.elementor-widget:not(:last-child){margin-bottom:20px;}{}h1.entry-title{display:var(--page-title-display);}.elementor-kit-8 e-page-transition{background-color:#FFBC7D;}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}}/* Start custom CSS */@media (max-width: 767px)
{
    .hero-title h1{
    font-size: 36px !important;
}
.roadmap-year .elementor-heading-title{
    font-size: 36px !important;
}
.roadmap-quarter .elementor-heading-title{
    font-size: 28px !important;
}
.border-list{
    padding: 10px 15px;
}
.border-list .elementor-heading-title{
    font-size:20px !important;
}
.product-home-card{
    margin-bottom: 300px;
}
.product-home-card h3.elementor-heading-title{
    font-size:36px !important;
}
.border-list .elementor-widget:not(:last-child){
    margin-bottom: 5px;
}
  .wallet-section-title .elementor-heading-title{
    font-size: 28px !important;
    }
  .wallet-figure img
   {
    max-width: 80%;
    height: auto;
    margin-bottom:20px;
   }
   .wallet-tokens-gallery  .gallery{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       margin:0 !important;
   }
   .wallet-tokens-gallery figure{
       width: auto !important;
       padding:10px !important;
   }
}
.elementor.post{
    background: #FFF;
}
.wp-block-button__link{
    border-radius:8px;
    text-decoration: none !important;
    font-size: 1em;
    color:#FFF !important;
    background-color:#AA33B5;
    font-family: 'Montserrat', Sans-Serif;
    font-weight: 800;
 }/* End custom CSS */